{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login page {% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-4">
            <h1>Login page</h1><hr>
            <form method="post">{% csrf_token %}
                {{ login_form | crispy }}
                <button class="btn btn-primary w-100 mb-4" type="submit">Submit</button>
                <span>No account? Then, <a href="{% url 'users:register' %}">get registred</a></span>
            </form>
        </div>
    </div>

{% endblock content %}