{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Home page {% endblock title %}

{% block content %}
    <h2 class="text-center">All reviews</h2>
    <hr>

    <div class="cards">
        {% for review in page_obj %}
            <div class="card mb-5">
                <div class="card__image-holder">
                    <img class="card__image " src="{{ review.book.cover_picture.url }}" alt="wave"/>
                </div>
                <div class="card-title">
                    <a href="#" class="toggle-info btn">
                        <span class="left"></span>
                        <span class="right"></span>
                    </a>
                    <h2>
                        <img src="{{ review.user.profile_picture.url }}" class="d-block ui-w-40 rounded-circle"
                             alt="profile pic">
                        <b>{{ review.user.username }}</b>
                    </h2>
                    rated this book {{ review.stars_given }} stars
                    <div class="text-muted small">{{ review.created_at }}</div>
                </div>
                <div class="card-flap flap1">
                    <div class="card-description">
                        {{ review.comment | truncatechars:300 }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
                <li class="page-item {% if i == page_obj.number %}active{% endif %}">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock content %}
