{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- partial:index.partial.html -->
    <div class="book-store">

        <div class="book-slide">
            <div class="book js-flickity" data-flickity-options='{ "wrapAround": true }'>
                {% for book in books|slice:":6" %}
                    <div class="book-cell">
                        <div class="book-img">
                            <a href="{% url 'books:detail' book.id %}">
                                <img src="{{ book.cover_picture.url }}" alt="{{ book.title }}" class="book-photo">
                            </a>
                        </div>
                        <div class="book-content">
                            <div class="book-title">{{ book.title }}</div>
                            <div class="book-author">by {{ book.book_author }}</div>
{#                            <div class="rate">#}
{#                                <fieldset class="rating">#}
{#                                    <input type="checkbox" id="star5" name="rating" value="5"/>#}
{#                                    <label class="full" for="star5"></label>#}
{#                                    <input type="checkbox" id="star4" name="rating" value="4"/>#}
{#                                    <label class="full" for="star4"></label>#}
{#                                    <input type="checkbox" id="star3" name="rating" value="3"/>#}
{#                                    <label class="full" for="star3"></label>#}
{#                                    <input type="checkbox" id="star2" name="rating" value="2"/>#}
{#                                    <label class="full" for="star2"></label>#}
{#                                    <input type="checkbox" id="star1" name="rating" value="1"/>#}
{#                                    <label class="full" for="star1"></label>#}
{#                                </fieldset>#}
{#                                <span class="book-voters">1.987 voters</span>#}
{#                            </div>#}
                            <div class="book-sum">{{ book.description | truncatewords:18 }}</div>
                            <div class="book-see"><a class="text-secondary text-decoration-none" href="{% url 'books:detail' book.id %}">
                                See The Book
                            </a> </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="main-wrapper">
            <div class="books-of">
                <div class="week">
                    <div class="author-title">Authors</div>
                    {% for author in authors|slice:":20" %}
                        <div class="author">
                            <img src="{{ author.picture.url }}"
                                 alt="" class="author-img">
                            <div class="author-name">
                                <a class="author-name" href="{% url 'books:authors_detail' author.id %}">{{ author.first_name }} {{ author.last_name }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="overlay"></div>
            </div>

            <div class="popular-books">
                <div class="main-menu">
                    <div class="genre">Latest books</div>
                </div>
                <div class="book-cards">
                    {% for book in books|slice:":20" %}
                        <div class="book-card">
                            <div class="content-wrapper">
                                <img src="{{ book.cover_picture.url }}" alt="" class="book-card-img">
                                <div class="card-content">
                                    <div class="book-name">{{ book.title }}</div>
                                    <div class="book-by">by {{ book.book_author }}</div>
                                    <div class="rate">

                                    </div>
                                    <div class="book-sum card-sum">
                                        {{ book.description }}
                                    </div>
                                    <div class="likes">
                                        <a class="detail-view" href="{% url 'books:detail' book.id %}">
                                            ...view detail
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>

            </div>

        </div>

    </div>

    <!-- partial -->

{% endblock content %}