.profile-pic {
    width: 25%;
    border-radius: 50%;
}
.register_pic {
    width: 25%;
    border-radius: 15%;
}

.profile-pic_review {
    width: 90%;
    border-radius: 50%;
}

.cover-pic {
    width: 100%;
}

.navbar {
    background-color: #787188;
    color: white;
}
.nav-link  {
    color: white;

}

.navbar-brand {
    color: white;
}

.star-rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
}
.star-rating > span {
  display: inline-block;
  position: relative;
  width: 1em;
}
.star-rating > span:before {
  content: "\2605";
  position: absolute;
}

.posts-content{
    margin-top:20px;
}
.ui-w-40 {
    width: 40px !important;
    height: auto;
}
.default-style .ui-bordered {
    border: 1px solid rgba(24,28,33,0.06);
}
.ui-bg-cover {
    background-color: transparent;
    background-position: center center;
    background-size: cover;
}
.ui-rect {
    padding-top: 50% !important;
}
.ui-rect, .ui-rect-30, .ui-rect-60, .ui-rect-67, .ui-rect-75 {
    position: relative !important;
    display: block !important;
    padding-top: 100% !important;
    width: 100% !important;
}
.d-flex, .d-inline-flex, .media, .media>:not(.media-body), .jumbotron, .card {
    -ms-flex-negative: 1;
    flex-shrink: 1;
}
.bg-dark {
    background-color: rgba(24,28,33,0.9) !important;
}
.card-footer, .card hr {
    border-color: rgba(24,28,33,0.06);
}
.ui-rect-content {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
}
.default-style .ui-bordered {
    border: 1px solid rgba(24,28,33,0.06);
}

.custom-nav {
    border-radius: 5px;
    padding: 5px;
}

.custom-nav-link {
    color: black;
  font-weight: bold;
}
.custom-nav-link:active {
        color: white;
    background-color: #787188;
    border-radius: 5px;
}

.custom-nav-link:hover {
    color: white;
    background-color: #787188;
    border-radius: 5px;
}



